<div class="container-fluid" style="height: 68vh;">
    <div class="d-flex justify-content-center align-items-center mx-auto h-100 w-75">
        <div class="p-1 mx-auto">
            <div class="card shadow text-center overflow-hidden rounded-3">
                <div
                    class="header p-3 d-flex flex-column align-items-center justify-content-center bg-orange-custom mb-2">
                    <div class="img-box">
                        <i class="bi bi-info-circle-fill text-light"></i>
                    </div>
                    <span class="title text-light text-uppercase py-1 px-2">Ver Información</span>
                </div>
                <div class="content text-center">
                    <h6>El sistema cuenta con {{cantidadEventos}} eventos registrados.</h6>
                </div>
            </div>
        </div>
    </div>
</div>